



<div class="card-trip">
  <%= cl_image_tag @list.photo.key%>
  <div class="card-trip-infos">
    <div>
      <% @list.bookmarks.each do |b| %>
      <h2><%= b.movie.title %></h2>
      <p>"<%= b.comment %>"</p>
      <p>Short description here!</p>
        <% end %>
    </div>
</div>



<p><%= link_to "Add a bookmark",  new_list_bookmark_path(@list)  %></p>
<p><%= link_to "Home page",  lists_path()  %></p>
